<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AbatabLieutenant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AbatabLieutenant.Properties.Settings>
            <setting name="DebugMode" serializeAs="String">
                <value>disabled</value>
            </setting>
            <setting name="LtntVersion" serializeAs="String">
                <value>2.0.0</value>
            </setting>
            <setting name="LtntRoot" serializeAs="String">
                <value>C:\Abatab\UAT</value>
            </setting>
            <setting name="RepoUrl" serializeAs="String">
                <value>https://github.com/spectrum-health-systems/Abatab/archive/refs/heads/</value>
            </setting>
            <setting name="DefaultBranch" serializeAs="String">
                <value>testbuild</value>
            </setting>
        </AbatabLieutenant.Properties.Settings>
    </userSettings>
</configuration>